body {
  background-color: #e0ebe8;
}
hr {
  width: 5%;
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 5px;
}
h1 {
    color: #66BFBF
}
h3 {
    color: #66BFBF;
}